# OS
.DS_Store
.vscode

# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
components
bower_components
package.js

# Compile directories
www/
