@import "_bootstrap.scss";
//@import "_font-awesome.scss";
//
//-- Variables
//

$brand-primary: #ff6347;
$white : #fff;
$navbar-height: 100px;
$font-size-base: 18px;
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Lato", Georgia, Times, serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

.wrapper {
    margin: 4px auto;
    width: 100%;
    max-width: 800px;
    background: transparent;
}

body {
    font-size: $font-size-base;
    font-family: $font-family-serif;
    margin-bottom: 60px;
    h2, h3, h4, h5 {
        font-family: $font-family-sans-serif;
    }
}


.navigation {
    font-family: $font-family-sans-serif;
    position: relative;
    padding: 2em 0;
    text-align: right;
    background-color: $brand-primary;
    a {
        color: $white;
        font-size: 18px;
        margin: 0 4em 0 0;
        text-decoration: none;
        padding-bottom: 0.5em;
        &:hover {
            border-bottom: 3px solid;
        }
    }
}

.logo {
    margin: 0;
    margin-left: 2em;
    float: left;
}

.divider {
    color: $gray-light;
    position: relative;
    text-align: center;
}

.posts span {
    padding-right: 1em;
   display: inline-block;
}

ul li.h2 {
    margin: 0;
    padding-bottom: 1em;
}
.inline {
    display: inline;
}

section {    
    @include make-row();
    article, div {
        @include make-md-column(8);
        @include make-md-column-offset(2);
    }
}

article, div {
    padding-top: 50px;
}

div ul li {
    padding-bottom: 1em;
}

.footer {
    text-align: center;
    bottom: 0;
    height: 60px;    
    width: 100%;
    position: absolute;
    margin-top: 4em;
    padding-top: 1em;
    a{
        text-decoration: none;
        margin: 0 0.5em 0;
    }
}


