<section class="container">
  <div>
     <h2></h2>
     <ul class="no-list">
         <li class="h2"><a href="https://twitter.com/<%- twitter %>"><span class="fa fa-twitter fa-lg"></span> @oguching</a></li>
         <li class="h2"><a href="https://github.com/<%- github %>"><span class="fa fa-github-alt fa-lg"></span> oguching</a></li>
     </ul>
  </div>
</section>