<section class="container">
   <div>
       <h1><%= blog.title %></h1>
       <p>Developer, mostly JavaScript. Christian, Geek and so much more.</p>      
       <p>view <a href="<%- blog.url %>/blog">recent posts.</a></p>       
   </div>
</section>

