<section class="container">
   <div>
       <h1><%= title %></h1>
       <p>Hi, I'm a developer with an affinity for JavaScript, and functional programming.
       I'm a Christian, a Geek and so much more.</p>             
   </div>
</section>

