<section class="container">
   <div>
        <ul class='posts'>
           <h2>Posts</h2>
            <% for(var slug in public.blog._data) { %>
              <% var post = public.blog._data[slug] %>
              <% if (post.title && post.draft !== true) { %>
                <li class="list-unstyled h2"><span><time class="text-muted"><%= post.date %></time></span><a href="<%= slug %>"><%= post.title %></a>            
                </li>
              <% } %>
            <% } %>
        </ul>
    </div>
</section>