<section class="container">
   <div>
        <ul>
           <h2>Posts</h2>
            <% for(var slug in public.blog._data) { %>
              <% var post = public.blog._data[slug] %>
              <% if (post.title && post.draft !== true) { %>
            <li class="no-list"><span class="h2"><time class="text-muted"><%= post.date %></time><a href="<%= slug %>">
                    <%= post.title %></a></span>            
                </li>
              <% } %>
            <% } %>
        </ul>
    </div>
</section>