<footer class="footer">
     <ul class="no-list">
         <li class="inline"><a href="https://twitter.com/<%- twitter %>"><span class="fa fa-twitter fa-lg"></span> </a></li>
         <li class="inline"><a href="https://github.com/<%- github %>"><span class="fa fa-github-alt fa-lg"></span> </a></li>
     </ul>
      <p class="text-muted">&copy; 2015. All Rights Reserved</p>
</footer>