<section>
    <footer class="footer">
        <ul class="list-unstyled">
            <li class="inline"><a href="https://twitter.com/<%- service.twitter %>"><span class="fa fa-twitter fa-lg"></span> </a></li>
            <li class="inline"><a href="https://github.com/<%- service.github %>"><span class="fa fa-github-alt fa-lg"></span> </a></li>
        </ul>
        <p class="text-muted">&copy; 2015. All Rights Reserved</p>
    </footer>
</section>