<header class="navigation">
  <nav class="nav"> 
    <ul class="nav">
        <li class="">logo</li>
    </ul>
    <ul class="inline-block ">
        <li class="right">blog</li>
        <li class="right">about</li>
    </ul>     
      <p class="logo">
          <a href="/"><span><%- blog.title %></span></a>
      </p>
      <a href="/blog">blog</a>
      <a href="/">about</a>
  </nav>
</header>