<header class="navigation">
  <nav class="nav">    
      <p class="logo">
          <a href="/"><span><%- blog.title %></span></a>
      </p>
      <a href="/blog">blog</a>
      <a href="/">about</a>
  </nav>
</header>