<header class="navigation">
  <nav class="wrapper">      
      <p class="logo">
          <a href="/"><span><%- sitename %></span></a>
      </p>
      <a href="/blog">blog</a>
      <a href="/">about</a>
  </nav>
</header>